	<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="ISO-8859-1">
	<title>Payment Management System</title>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<h1>News Managememnt System</h1>
			<hr>
			<h2>Save News</h2>

			<form action="#" th:action="@{/}" th:object="${createNewsRequestDto}"
				method="POST">

				<input required type="text" th:field="*{title}"
					placeholder="News Title" class="form-control mb-4 col-4">

					<input type="date" th:field="*{date}"
					placeholder="News Date" class="form-control mb-4 col-4">


				<input type="text" th:field="*{brief}"
					   placeholder="News Brief" class="form-control mb-4 col-4">


				<input type="text" th:field="*{content}"
				   placeholder="News Content" class="form-control mb-4 col-4">

					<button type="submit" class="btn btn-info col-2"> Save News</button>
			</form>

			<hr>

			<a th:href = "@{/}"> Back to Employee List</a>
		</div>
	<script th:inline="javascript">
		const employee = [[${employee}]]
	</script>
	</body>
	</html>