<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <title>Thymeleaf Spring Boot Demo</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }
        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }
        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    </style>
</head>
<body>
<p th:text="'Hello, '+ ${name} + '!'"></p>
<h4>Welcome to San-Trope</h4>
<a th:href = "@{/showNewsForm}" class="btn btn-danger btn-sm mb-3"> Insert News </a>

<table class="styled-table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Brief</th>
        <th>Content</th>
        <th>
            <a>
                Action</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="news : ${newsList}">
        <td th:text="${news.date}">1</td>
        <td th:text="${news.title}"></td>
        <td th:text="${news.brief}"></td>
        <td th:text="${news.content}"></td>
        <td> <a th:href="@{/showFormForUpdate/{id}(id=${news.id})}" class="btn btn-primary">Update</a>
            <a th:href="@{/deleteNews/{id}(id=${news.id})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>