<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>News Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>News Management System</h1>
    <hr>
    <h2>Update News</h2>

    <form action="#" th:action="@{/saveUpdatedNews/{id}(id=${id})}" th:object="${newsResponseDto}"
          method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{date}" />
        <input type="text" th:field="*{title}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{brief}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{content}" class="form-control mb-4 col-4">


        <button type="submit" class="btn btn-info col-2"> Update Employee</button>
    </form>

    <hr>

    <a th:href = "@{/}"> Back to Employee List</a>
</div>
</body>
</html>